body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: tan;
    
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 2px solid #080000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}

#display {
    width: 92%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
   
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: #0078d4;
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005a9e;
}


